.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 200px;
  height: 230px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 8px #000000;
}

.ok {
  position: absolute;
  top: 80%;
  right: 10%;
}
